<h1>PDF</h1>
<form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
    <div>
        <label for="nombre">Nombre empleado</label>
        <input type="text" id="nombre" formControlName="nombreEmpleado">
    </div>
    <div>
        <label for="cedula">Cedula empleado</label>
        <input type="number" id="cedula" formControlName="cedulaEmpleado">
    </div>
    <div>
        <label for="salarioEmpleado">Salario empleado</label>
        <input type="number" id="salarioEmpleado" formControlName="salarioEmpleado">
    </div>
    <div>
        <label for="fechaI">Fecha Inicio</label>
        <input type="text" id="fechaI" formControlName="fechaInicioEmpleado">
    </div>
    <div>
        <label for="fechaF">Fecha Fin</label>
        <input type="text" id="fechaF" formControlName="fechaFinEmpleado">
    </div>

    <button [disabled]="formGroup.invalid">Continuar</button>
</form>
